In [1]:
import pandas as pd
from spreadsheet_automation import automation
from config import etfs_lst, etfs_hedge_date_dict, start_date, end_date, excel_path

Fixing_hedge_df, FX_hedge_df = automation(etfs_lst, etfs_hedge_date_dict, excel_path, start_date, end_date)

In [2]:
Fixing_hedge_df

           513010       513180       513380       159920 513580
2023-05-16  Close  15:40-16:00            0            0      0
2023-05-17      0  15:40-16:00  15:45-15:55  15:45-15:55      0
2023-05-18  Close            0            0            0  Close
2023-05-19      0  15:40-16:00            0            0      0
2023-05-22  Close            0            0  15:45-15:55  Close

In [3]:
FX_hedge_df

                                513010                                   513180          513380                      159920          513580
2023-05-15  Mostly_Connect_20:25-20:35                  69%_Connect_20:25-20:35               0                           0               0
2023-05-16                           0  31%_QDII_random,69%_Connect_20:25-20:35               0  Mostly_Connect_20:25-20:35               0
2023-05-17  Mostly_Connect_20:25-20:35                          31%_QDII_random               0                           0               0
2023-05-18                           0                  69%_Connect_20:25-20:35  QDIImid_random                           0  QDIImid_random
2023-05-19  Mostly_Connect_20:25-20:35                          31%_QDII_random               0  Mostly_Connect_20:25-20:35               0
2023-05-22                           0                                        0               0                           0  QDIImid_random